{% extends 'dbase.html' %}

<!-- {% if user.is_authenticated %}
    <h1>Hello world</h1>
    {{user.username}}

    <a href="{% url 'user_logout' %}">Logout</a>
{% endif %} -->

{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}
  Admin Dashboard
{% endblock title %}
{% block content %}

{% include 'header.html' %}
{% include 'sidebar.html' %}



			<section role="main" class="content-body">
				<header class="page-header">
					<h2>Dashboard</h2>
				
					<div class="right-wrapper text-right" style="background-color: #774210;">
						<ol class="breadcrumbs">
							<li>
								<a href="{% url 'administrator:dashboard' %}">
									<i class="fas fa-home"></i>
								</a>
							</li>
							<li><span>Dashboard</span></li>
						</ol>
				
						<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
					</div>
				</header>
					

					<!-- start: page -->
					<div class="row">
						<div class="col-lg-12 mb-3">
							<section class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-xl-12">
											<div class="chart-data-selector" id="salesSelectorWrapper">
												<h2>
													Products:
													<strong>
														<select class="form-control" id="salesSelector">
															<option value="Porto Admin" selected>Paracetamol</option>
															<option value="Porto Drupal" >Panadol</option>
															<option value="Porto Wordpress" >Emzor</option>
														</select>
													</strong>
												</h2>
					
												<div id="salesSelectorItems" class="chart-data-selector-items mt-3">
													<!-- Flot: Sales Porto Admin -->
													<div class="chart chart-sm" data-sales-rel="Porto Admin" id="flotDashSales1" class="chart-active" style="height: 300px;"></div>
													<script>
					
														var flotDashSales1Data = [{
														    data: [
														        ["Jan", 140],
														        ["Feb", 1000],
														        ["Mar", 190],
														        ["Apr", 140],
														        ["May", 180],
														        ["Jun", 320],
														        ["Jul", 270],
														        ["Aug", 180],
																["Sep", 700],
														        ["Oct", 320],
														        ["Nov", 270],
														        ["Dec", 180]
														    ],
														    color: "#0088cc"
														}];
					
														// See: js/examples/examples.dashboard.js for more settings.
					
													</script>
					
													<!-- Flot: Sales Porto Drupal -->
													<div class="chart chart-sm" data-sales-rel="Porto Drupal" id="flotDashSales2" class="chart-hidden" style="height: 300px;"></div>
													<script>
					
														var flotDashSales2Data = [{
														    data: [
														        ["Jan", 240],
														        ["Feb", 240],
														        ["Mar", 290],
														        ["Apr", 540],
														        ["May", 480],
														        ["Jun", 220],
														        ["Jul", 170],
														        ["Aug", 190]
														    ],
														    color: "#2baab1"
														}];
					
														// See: js/examples/examples.dashboard.js for more settings.
					
													</script>
					
													<!-- Flot: Sales Porto Wordpress -->
													<div class="chart chart-sm" data-sales-rel="Porto Wordpress" id="flotDashSales3" class="chart-hidden" style="height: 300px;"></div>
													<script>
					
														var flotDashSales3Data = [{
														    data: [
														        ["Jan", 840],
														        ["Feb", 740],
														        ["Mar", 690],
														        ["Apr", 940],
														        ["May", 1180],
														        ["Jun", 820],
														        ["Jul", 570],
														        ["Aug", 780]
														    ],
														    color: "#734ba9"
														}];
					
														// See: js/examples/examples.dashboard.js for more settings.
					
													</script>
												</div>
					
											</div>
										</div>
										<!-- <div class="col-xl-4 text-center">
											<h2 class="card-title mt-3">Sales Goal</h2>
											<div class="liquid-meter-wrapper liquid-meter-sm mt-3">
												<div class="liquid-meter">
													<meter min="0" max="100" value="35" id="meterSales"></meter>
												</div>
												<div class="liquid-meter-selector mt-4 pt-1" id="meterSalesSel">
													<a href="#" data-val="35" class="active">Monthly Goal</a>
													<a href="#" data-val="28">Annual Goal</a>
												</div>
											</div>
										</div> -->
									</div>
								</div>
							</section>
						</div>
					</div>
					
				</section>
			</div>



					
					
				


{% endblock  %}

{% block other_links %}
  <!-- Examples -->
  <script src="{% static 'js/examples/examples.dashboard.js' %}"></script>

{% endblock other_links %}